.DS_Store
.nrepl-history
!.gitignore
cljs.js
node_modules
dist
dist.zip
build
ts-backend/dist
ts-backend/node_modules
ts-frontend/dist
ts-frontend/tmp
ts-frontend/dist.tar.gz
ts-frontend/node_modules
yarn.lock
*.bin
